/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.cardimage{
  height: 200px;
}
.avatar{
  width: 250px;
    border:5px solid #fff;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 2px 4px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 2px 4px;
    box-shadow: rgba(0,0,0,.2) 0 2px 4px;
}
.avatarBorder{
    border:5px solid #fff;
    border-radius: 200px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 500px;
     -webkit-box-shadow: rgba(0,0,0,.2) 0 2px 4px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 2px 4px;
    box-shadow: rgba(0,0,0,.2) 0 2px 4px;
    margin-bottom: 180px;
}

