/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.cardimage{
  height: 200px;
}

.card-image img {
    max-width: none;
    width: calc(100% + 20px) !important;
    opacity: 0.9;
    -webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
    transition: opacity 0.35s,transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
}
.card-image:hover img {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.coverImg{
      width: 800px;
      min-width: 0 !important;
}
.chip{
  margin-left: 5px;
  margin-top: 5px;
}
.card .card-reveal {
    height: 101%;
}

div#welcome-txt-container {
    z-index: 999;
    opacity: 1;
    top: 90px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
h2#welcome-text {
    text-align: center;
    margin-left: 220px;
    font-weight: 100;
    font-size: 6.5em;
}
.projectText{
    font-size: 13px;
  
}

@media only screen and (max-width: 1400px) {
    .projectRow > .l4{
      width: 50% !important;
    }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 750px) {
    .projectRow > .l4{
      width: 100% !important;
    }
}

@media only screen and (max-width: 850px) {
    .iconRow > .m4{
      width: 100% !important;
    }
}


